[submodule "RLJO/Shipping_Module"]
	path = RLJO/Shipping_Module
	url = git@github.com:RLJO/Shipping_Module.git
	branch = master

[submodule "RLJO/Floraison"]
	path = RLJO/Floraison
	url = git@github.com:RLJO/Floraison.git
	branch = app-l10n_tunisia_payroll

[submodule "RLJO/Floraison1"]
	path = RLJO/Floraison1
	url = git@github.com:RLJO/Floraison.git
	branch = main
